.story {
    margin-top: 1em;
    display: block;
}

.story .frame #story-hole,
.story .frame .frame {
    margin-top: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 0em;
}

.story .output-text {
    white-space: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2em;
}

.story .output-text blockquote {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.story .interpretation-block .output-text {
    outline: solid 2px ivory;
    outline-offset: 0.4em;
    transition: outline-color 400ms linear, background-color 400ms linear;
}

.story .interpretation-block.interpretation-active .output-text {
    outline-color: ivory;
    animation-name: interpreting;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes interpreting {
  0% {
    outline-color: ivory;
  }
  50% {
    outline-color: #72d2e5;
  }
  100% {
    outline-color: ivory;
  }
}

.story .interpretation-block.interpretation-active.would-remove-interpretation-active .output-text {
    /*outline-color: #f9dd04;*/
    animation: none !important;
}

.story .would-add-eph-new .output-text,
.story .would-add-animation-new .output-text {
    display: none;
}

.story.animation-start .eph-new,
.story.animation-start .eph-new.output-text{
    opacity: 0.01;
    max-height: 0px;
}

.story.animation-start.animation-active .eph-new,
.story.animation-start.animation-active .eph-new.output-text {
    opacity: 1.0;
    transition: max-height 400ms linear, opacity 300ms ease-in;
    transition-delay: 0ms, 400ms;
}

.story .focused {
    --alpha-color: 1;
}

.story .removing-unfocused.animation-start,
.story .would-add-forgotten,
.story .would-undo {
    --alpha-color: 0.4;
}


.story .unfocused {
    --alpha-color: 0.4;
}

.story .unfocused .frame {
    --alpha-color: 1.0;
}

.story .adding-unfocused.animation-start {
  color: inherit;
  /* opacity: inherit; */
}

.story .removing-unfocused.animation-start.animation-active {
    /* opacity: inherit; */
    color: inherit;
    transition: color 700ms linear;
    /* transition: opacity 700ms linear; */
}

.story .adding-unfocused.animation-start.animation-active {
    --alpha-color: 0.4;
    color: rgba(var(--rgb-color), var(--alpha-color));
    transition: color 700ms linear;
    /* opacity: 0.4; */
    /* transition: opacity 700ms linear; */
}

.story .forgotten {
    display: none;
}

.story .forgotten.animation-pre-compute {
    display: block;
    --alpha-color: 0;
    /* opacity: 0; */
    --is-collapsing: 1;
}

/* AX2 */
.story .adding-forgotten.animation-start {
    display: block;
    /* opacity: 0.4; */
    --alpha-color: 0.4;
}

.story .adding-forgotten.animation-start.animation-active {
    --alpha-color: 0.01;
    color: rgba(var(--rgb-color), var(--alpha-color));
    
    /* opacity: 0.01; */
    max-height: 0px !important;
    transition: opacity 300ms ease-in, max-height 400ms linear;
    /* transition: opacity 300ms ease-in, max-height 400ms linear; */
    transition-delay: 0ms, 300ms;
}

.story .would-add-interpretation-block .output-text {
    outline: solid 2px #00000000;
    outline-offset: 0.4em;
    animation-name: would-add-interpretation-block !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
}

@keyframes would-add-interpretation-block {
  0% {
    outline-color: #00000000;
  }
  50% {
    outline-color: ivory;
  }
  100% {
    outline-color: #00000000;
  }
}

@keyframes would-interpret {
  0% {
    background-color: black;
  }
  50% {
    background-color: midnightblue;
  }
  100% {
    background-color: black;
  }
}

@keyframes would-cite {
  0% {
    background-color: black;
  }
  50% {
    background-color: dimgray;
  }
  100% {
    background-color: black;
  }
}


.story .output-text .interp-inline {
    --rgb-color: 255, 215, 0;
    /* color: gold; */
    /* opacity: 1; */
    /* --alpha-color: 1; */
    display: inline;
}

.story .output-text .blue {
    /* color: aqua; */
    --rgb-color: 0, 255, 255;
}

.story .output-text .interp
{
    display: block;
    --rgb-color: 255, 215, 0;
    /* color: gold; */
    /* --alpha-color: 1; */
    /* opacity: 1; */
}

.story .output-text .alien-interp {
    display: block;
    /* color: crimson; */
    --rgb-color: 220, 20, 60;
    /* opacity: 1; */
    --alpha-color: 1;
}

